# See https://pre-commit.com for more information
# Install: pip install pre-commit && pre-commit install

default_language_version:
  python: python

repos:
  # General hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-toml
  - id: check-added-large-files
    args: [--maxkb=1000]
  - id: check-merge-conflict
  - id: detect-private-key
  - id: debug-statements
  - id: mixed-line-ending
    args: [--fix=lf]

  # Python formatting
- repo: https://github.com/psf/black
  rev: 24.3.0
  hooks:
  - id: black

    args: [--line-length=120]

  # Import sorting
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
  - id: isort
    args: [--profile=black, --line-length=120]

  # Linting
- repo: https://github.com/pycqa/flake8
  rev: 7.0.0
  hooks:
  - id: flake8
    args: [--max-line-length=120, '--extend-ignore=E203,W503']
    additional_dependencies:
    - flake8-docstrings
    - flake8-bugbear

  # Type checking
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.9.0
  hooks:
  - id: mypy
    additional_dependencies:
    - types-PyYAML
    - types-requests
    args: [--ignore-missing-imports, --no-strict-optional]
    exclude: ^(tests/|docs/)

  # Security
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.8
  hooks:
  - id: bandit
    args: [-c, pyproject.toml, -r, src/, --format, custom, --msg-template, "{abspath}:{line}: {test_id}: {severity}: {msg}"]
    additional_dependencies: ['bandit[toml]']
    exclude: ^tests/

  # YAML formatting
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.12.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
    exclude: ^\.github/

  # Commit message
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.18.0
  hooks:
  - id: commitizen
    stages: [commit-msg]

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [mypy]  # Skip mypy in CI (runs separately)
