fastapi>=0.100.0
uvicorn>=0.22.0
torch>=2.1.2 --index-url https://download.pytorch.org/whl/cpu
transformers>=4.30.0
onnxruntime>=1.15.1
python-multipart
numpy==1.26.4
librosa==0.10.0.post2
soundfile==0.12.1
structlog==23.2.0